apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: microservices
data:
  application.yaml: |
    spring:
      application:
        name: auth-service
      datasource:
        url: jdbc:postgresql://auth-db-service:5432/authdb
        hikari:
          maximum-pool-size: 10
          minimum-idle: 5
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
      cloud:
        kubernetes:
          discovery:
            enabled: true
    server:
      port: 8070
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics
