apiVersion: v1
kind: ConfigMap
metadata:
  name: student-service-config
  namespace: microservices
data:
  application.yaml: |
    spring:
      application:
        name: student-service
      datasource:
        url: jdbc:postgresql://student-db-service:5432/studentdb
      rabbitmq:
        host: rabbitmq-service
        port: 5672
      servlet:
        multipart:
          max-file-size: 10MB
          max-request-size: 10MB
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
      cloud:
        kubernetes:
          discovery:
            enabled: true
    server:
      port: 8084
    rabbitmq:
      exchange: project-exchange
      queue: student-project-queue
      routing-key: project.created
