spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns:
              - "https://*.vercel.app"
              - "http://localhost:*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - HEAD
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      
      routes:
        # Auth Service Routes
        - id: auth-service
          uri: http://auth-service:8070
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /${segment}
        
        # Faculty Service Routes
        - id: faculty-service
          uri: http://faculty-service:8080
          predicates:
            - Path=/FACULTY-SERVICE/**
          filters:
            - StripPrefix=1
            - AuthenticationFilter
        
        # Student Service Routes
        - id: student-service
          uri: http://student-service:8084
          predicates:
            - Path=/STUDENT-SERVICE/**
          filters:
            - StripPrefix=1
            - AuthenticationFilter
    
    kubernetes:
      discovery:
        enabled: true
        all-namespaces: false
      reload:
        enabled: true

server:
  port: 8765

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.example.apigateway: INFO
